<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pangloss Purchase</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://code.getmdl.io/1.3.0/material.deep_purple-yellow.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/pangloss.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"/>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>
</head>
<body>
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="header mmdl-layout__header-row">
        <img class="logo" th:src="@{/images/wig.png}"/>
        <h5 class="title">Pangloss</h5>
    </div>
</header>
<div class="content">
    <div class="cart mdl-card mdl-shadow--2dp">
        <div class="cart-header mdl-card__title">
            <img th:src="@{/images/wig.png}"/>
            <h2 class="mdl-card__title-text">Congratulations!</h2>
        </div>
        <div class="items mdl-card__supporting-text">
            <h4>Your items:</h4>
            <ul class="mdl-list">
                <li class="mdl-list__item mdl-list__item-primary-content" th:each="item : ${cart.items}"
                    th:text="${item.name} + ' - ' + ${item.price} +'€'"></li>
            </ul>
            <h4>are on their way to</h4>
            <h4 class="mdl-color-text--primary" th:utext="${cart.address}"></h4>
        </div>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
           href="https://localhost:11759/shop"
           id="go-shopping">
            Back to Shopping
        </a>
    </div>
</div>
</body>
</html>